  <div class="panel-heading">
      <div class="pull-right"><button id="deleteButton" class="btn btn-danger">Delete</button></div> 
      <p><b>From:</b> {{Sender.Name}} ({{Sender.HostAddress}})</p>
      <p><b>On:</b> {{format-date 'dddd, MMM Do YYYY [at] h:mm:ssa' Received}}</p>
  </div>
  <div class="panel-body">
      <div id="pastePreview" class="pull-left"></div>
      <!--div class="pull-right"><button id="copyButton" class="btn btn-primary">Copy</button></div-->
  </div>