<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NetPaste</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/netpaste.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <div class="pull-right" id="username"><span class="label label-info"></span></div>
        <h1>NetPaste</h1>

        <ul class="nav nav-pills">
            <li class="active"><a href="#sendPanel" data-toggle="pill">Send</a></li>
            <li>
                <a href="#receivedPanel" data-toggle="pill">
                    <span class="badge pull-right" id="receivedBadge"></span>
                    Received&nbsp;
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active " id="sendPanel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="no-recipients" class="alert alert-info"><b>No recipients available</b></div>
                        <div id="recipients-list"></div>
                        <p>
                            <input type="text" id="pasteTarget" value="Paste here to send" />
                        </p>
                        <div id="send-success" class="alert alert-success"><b>Paste sent</b></div>
                        <div id="send-error" class="alert alert-danger"></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="receivedPanel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div><button id="deletePastes" class="btn btn-danger" style="display: none;">Delete all pastes</button></div>
                        <br />
                        <div id="receivedPastesList"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="username-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hello stranger!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <input type="text" class="form-control" id="username-input" placeholder="Please enter a username">
                    </p>
                    <div id="username-error" class="alert alert-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="username-save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/backbone.min.js"></script>
    <script src="~/Scripts/backbone.localStorage.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/handlebars.runtime.min.js"></script>
    <script src="~/Templates/NetPasteHelpers.js"></script>
    <script src="~/Templates/NetPasteTemplates.js"></script>

    <script src="~/Scripts/NetPaste/Models/SendPasteRecipient.js"></script>
    <script src="~/Scripts/NetPaste/Models/ReceivedPaste.js"></script>
    <script src="~/Scripts/NetPaste/Models/UserIdentity.js"></script>
    <script src="~/Scripts/NetPaste/Collections/SendPasteRecipients.js"></script>
    <script src="~/Scripts/NetPaste/Collections/ReceivedPastes.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/ImagePasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/PasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/PasteDataBuilderFactory.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/TextPasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataPreviews/ImagePasteDataPreview.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataPreviews/PasteDataPreview.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataPreviews/PasteDataPreviewFactory.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataPreviews/TextPasteDataPreview.js"></script>
    <script src="~/Scripts/NetPaste/Views/IdentityView.js"></script>
    <script src="~/Scripts/NetPaste/Views/UsernameEntryModalView.js"></script>
    <script src="~/Scripts/NetPaste/Views/SendPasteRecipientView.js"></script>
    <script src="~/Scripts/NetPaste/Views/SendPasteRecipientsListView.js"></script>
    <script src="~/Scripts/NetPaste/Views/SendPasteView.js"></script>
    <script src="~/Scripts/NetPaste/Views/ReceivedPastesView.js"></script>
    <script src="~/Scripts/NetPaste/Views/ReceivedPastesListView.js"></script>
    <script src="~/Scripts/NetPaste/Views/ReceivedPasteView.js"></script>
    <script src="~/Scripts/NetPaste/App.js"></script>
</body>
</html>