<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NetPaste</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Styles/netpaste.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <div class="pull-right" id="username"><h3>@ViewBag.Username</h3></div>
        <h1>NetPaste</h1>

        <ul class="nav nav-pills">
            <li class="active"><a href="#sendPanel" data-toggle="pill">Send</a></li>
            <li>
                <a href="#receivedPanel" data-toggle="pill">
                    <span class="badge pull-right" id="receivedBadge"></span>
                    Received&nbsp;
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active " id="sendPanel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="recipients-list">

                        </div>
                        <input type="text" id="pasteHole" value="Paste here to send" />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="receivedPanel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div><button id="deletePastes" class="btn btn-danger" style="display: none;">Delete all pastes</button></div>
                        <br />
                        <div id="receivedPastesList"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="Scripts/jquery-2.0.3.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/moment.js"></script>

    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/backbone.localStorage.js"></script>

    <script src="Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="signalr/hubs"></script>

    <script src="~/Scripts/handlebars.runtime.js"></script>
    <script src="~/Templates/NetPasteHelpers.js"></script>
    <script src="~/Templates/NetPasteTemplates.js"></script>

    <script src="~/Scripts/NetPaste/Models/SendPasteRecipient.js"></script>
    <script src="~/Scripts/NetPaste/Models/ReceivedPaste.js"></script>
    <script src="~/Scripts/NetPaste/Collections/SendPasteRecipients.js"></script>
    <script src="~/Scripts/NetPaste/Collections/ReceivedPastes.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/ImagePasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/PasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/PasteDataBuilderFactory.js"></script>
    <script src="~/Scripts/NetPaste/PasteDataBuilders/TextPasteDataBuilder.js"></script>
    <script src="~/Scripts/NetPaste/SendPasteRecipientView.js"></script>
    <script src="~/Scripts/NetPaste/SendPasteRecipientsListView.js"></script>
    <script src="~/Scripts/NetPaste/SendPasteView.js"></script>
    <script src="~/Scripts/NetPaste/ReceivedPastesView.js"></script>
    <script src="~/Scripts/NetPaste/ReceivedPastesListView.js"></script>
    <script src="~/Scripts/NetPaste/ReceivedPasteView.js"></script>
    <script src="~/Scripts/NetPaste/App.js"></script>
</body>
</html>